@font-face {
    font-family: "Telegraf Ultrabold";
    font-display: swap;
    src: url("../font/Telegraf-UltraBold.otf") format("opentype");
}

img {
    transform: translateZ(0);
}

.nav {
    text-align: center;
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: 15px;
}

.navbar-nav {
    margin: auto;
    display: block ruby;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    z-index: 1000;
}
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    background-color: #f8f9fa !important;
}

.alert {
    display: none;
}

.form-control:focus {
    color: #100C08;
    border-color: #C00A74 !important;
    box-shadow: 0 0 0 0.25rem rgba(230, 0, 127, .25);
}
#register_form {
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    position: relative;
}

#registration {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px #E6007F;
    width: 90vw !important;
    max-width: 800px !important;
}

#svg1 {
    content: '';
    position: absolute;
    left: -42%;
    top: 20%;
    width: 150px;
    height: 150px;
    transform-origin: right bottom;
    transform:
            rotate(200deg)
            translate(0, 100%);
}

#svg2 {
    content: '';
    position: absolute;
    left: 86%;
    top: 50%;
    width: 150px;
    height: 150px;
    transform-origin: right bottom;
    transform:
            rotate(30deg)
            translate(0, -100%)
}

.btn {
    font-weight: bold;
}
#submit {
    display: block;
    margin: 0 auto;
}

.btn-primary {
    color: white;
    background-color: #E6007F;
    border-color: #E6007F;
}

.btn-primary:hover, .btn-primary:focus {
    border-color: #841452;
    background-color: #841452;
}

.form-check-input:checked {
    border-color: #E6007F;
    background-color: #E6007F;
}

.btn-primary:disabled {
    border-color: #e6647f;
    background-color: #e6647f;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 0, 127, .25);
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 0, 127, .25);
}

.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 0, 127, .25);
}

#logo, #logo_mobile {
    width: 122px;
    height: 77px;
}

#logo {
    margin-right: 10vw;
}

#logo_mobile {
    display: none;
}

#spb_banner {
    cursor: default;
    color: white;
    display: grid;
    text-align: center;
    padding: 0;
    max-height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/spb.webp) no-repeat fixed;
    background-size: cover;
    min-height: 300px;
    height: 40vw;
    margin-top: 90px;
}

#spb_banner_inner {
    display: grid;
}

#p1-spb {
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: calc(3.8rem + .9vw);
    color: #E6007F !important;
}

#p2-spb {
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: calc(3.8rem + .9vw);
}

#h5-spb {
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: calc(1.5rem + .9vw);
}

@media (max-width: 375px) {
    #register {
        font-size: calc(2.2rem + .9vw);
    }
}

@media (max-width: 575px) {
    #p1-spb {
        font-size: calc(2rem + .9vw);
    }

    #p2-spb {
        font-size: calc(2rem + .9vw);
    }

    #h5-spb {
        font-size: calc(1.0rem + .9vw);
    }

    .navbar-nav {
        display: block;
    }
    .flex-container {
        flex-direction: column !important;
    }

    .nav {
        font-size: 15px !important;
    }

    #logo_mobile {
        display: block;
    }

    #logo {
        display: none;
    }
    .timeline .timeline-container .timeline-icon {
        left: -72px !important;
    }
    .timeline {
        padding-left: 3rem !important;
    }
}

@media (max-width: 670px) {
    #p1-spb {
        font-size: calc(2rem + .9vw);
    }

    #p2-spb {
        font-size: calc(2rem + .9vw);
    }
    #h5-spb {
        font-size: calc(1.2rem + .9vw);
    }
    .flex-container {
        flex-direction: column !important;
    }
    .speaker-section{
        width: 90% !important;
    }
    #logo {
        margin-right: 0;
    }
}

@media (max-width: 790px) {
    .nav {
        font-size: 12px;
    }
    .flex-container {
        flex-direction: column !important;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .speaker-section{
        width: 80% !important;
    }
    #logo {
        width: 116px;
        height: 73px;
    }
}

@media (max-width: 770px) {
    #col-2021 {
        text-align: center !important;
    }
    .pink {
        margin-top: 1rem !important;
    }
    #col-stay {
        text-align: center !important;
        margin-bottom: 0.5rem;
        min-width: 100% !important;
    }
    #col-2021 {
        text-align: center !important;
    }
    #contacts-col {
        min-width: 100% !important;
    }
}

#register {
    margin-top: 1rem;
}

#date_text {
    padding-left: 0;
}

@media (max-width: 770px) {
    #col-2021 {
        text-align: center !important;
    }
    .pink {
        margin-top: 1rem !important;
    }
    #col-stay {
        text-align: center !important;
        margin-bottom: 0.5rem;
        min-width: 100% !important;
    }
    #col-2021 {
        text-align: center !important;
    }
    #contacts-col {
        min-width: 100% !important;
}
}

#register {
    margin-top: 1rem;
}

#date_text {
    padding-left: 0;
}

@media (max-width: 992px) {
    #date_text {
        display: block !important;
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1250px) {
    #svg1 {
        display: none;
    }
    #svg2 {
        display: none;
    }
}

@media (max-height: 500px) {
    #logo {
        width: 61px;
        height: 38px;
    }
    .nav-link {
        margin-top: 0 !important;
    }
    .navbar {
        height: 50px;
    }
    #spb_banner {
        margin-top: 50px;
    }
}

@media (min-height: 900px) and (max-height: 1400px) {
    #spb_banner {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/spb.webp) no-repeat fixed 10% 45% !important;
        background-size: cover !important;
    }
    @media (max-width: 1600px) {
        #spb_banner {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/spb.webp) no-repeat fixed !important;
            background-size: contain !important;
        }
    }
    @media (max-width: 700px) {
        #spb_banner {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/spb-mobile.webp) no-repeat fixed 10% 45% !important;
        }
    }
}

.page-footer {
    padding-top: 1%;
    margin-top: 5%;
    height: auto;
    border-top: 1px solid #841452;
    background-color: #f8f9fa !important;
}
.sections {
    margin: 3rem auto 0 auto;
    max-width: 50% !important;
    min-width: 300px;
}
.pink {
    color: #E6007F;
}
.cohost-logo img {
    max-width: 200px;
}
.sections-header, .date {
    cursor: default;
    text-align: center;
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: calc(2.6rem + .9vw);
}
.footer-header {
    cursor: default;
    font-family: 'Telegraf Ultrabold', Helvet, serif;
    font-size: calc(1.6rem + .9vw);
}
.contacts {
    max-width: calc(1.6rem + .9vw);
    fill: #E6007F;
}
#contacts {
    text-align: center;
}
.flex-svg-container a {
    margin: 0 1%;
}
.partner-logo img {
    height: 70px;
}
#lab_media {
    height: 50px;
    width: 100%;
}
.speaker-card div img{
    max-width: calc(10rem + .9vw);
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 3px solid #AA1267;
}
.card-title, .card-text {
    text-align: center;
}
.speaker-card div, .speaker-card p{
    display: inline-block;
    width: 100% !important;
}
#speaker-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: minmax(auto, auto);
}
.speaker-section {
    width: 90%;
    max-width: 1200px !important;
}

.speaker-img {
    width: 100%;
    max-width: 200px;
}

#program {
    width: 90%;
    max-width: 1200px !important;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-svg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-link {
    margin-top: 20px;
}

#personal_info + label {
    user-select: none;
    cursor: pointer;
}

#partners {
    width: 90%;
    max-width: 600px !important;
}

.container {
    max-width: 650px;
    margin: 50px auto;
}
.timeline {
    cursor: default;
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;
}
.font-weight-bold, .blue-text {
    cursor: default;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #E6007F;
}
.timeline .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}
.timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: #4f537b;
}
.timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
    background: #9F9F9F;
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}
.timeline .timeline-container .timeline-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
    margin-bottom: 1.4rem;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
    background: #4f537b;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: 0.4;
    margin-top: 16px;
    font-size: 11px;
}
.timeline .timeline-container.danger .badge, .timeline .timeline-container.danger .timeline-icon {
    background: #E6007F !important;
}
.author {
    font-family: inherit;
    padding: 3em;
    text-align: center;
    width: 100%;
    color: white;
}
.author a:link, .author a:visited {
    color: white;
}
.author a:link:hover, .author a:visited:hover {
    text-decoration: none;
}
.author .btn:link, .author .btn:visited {
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-weight: 100;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: black;
    padding: 1.5em 2rem;
    border-radius: 1em;
    transition: 0.5s all;
}
.author .btn:link:hover, .author .btn:visited:hover, .author .btn:link:focus, .author .btn:visited:focus, .author .btn:link:active, .author .btn:visited:active {
    background-color: #1a1a1a;
}
hr {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #AA1267;
}
.timeline-icon-img {
    margin-bottom: 20px;
    border: 3px solid #E6007F;
    background-color: white;
}