#registration {
    max-width: 50% !important;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
.form-control:focus {
    color: #100C08;
    border-color: #C00A74 !important;
    box-shadow: 0 0 0 0.25rem rgb(230 0 127 / 25%);
}
.btn-primary {
    color: white;
    background-color: #E6007F;
    border-color: #E6007F;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: #841452;
    background-color: #841452;
}
.form-check-input:checked {
    border-color: #E6007F;
    background-color: #E6007F;
}
#register {
    text-align: center;
    font-family: 'Telegraf Ultrabold',Helvet,serif;
    font-size: calc(2.6rem + .9vw);
}
.contacts{
    max-width: 20px;
    color: #E6007F;
}

